div {
    border: 2px solid black;
    padding: 50px;
}

.blue {
    margin: 50px;
    background: blue;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.pink {
    background: pink;
}