* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  font-size: 16px;
  color: #555555;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header {
  color: white;
  text-align: center;
  background: linear-gradient(60deg, red, orange);
}

.footer {
  padding: 0.5em;
  background: #e5e5e5;
  text-align: center;
}

.main {
  height: 100%;
  display: flex;
  align-content: start;
}

@media (max-width: 599px) {
  .main {
    flex-direction: column;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .main {
    flex-wrap: wrap;
  }
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

@media (min-width: 600px) {
  .navigation {
    width: 20%;
  }
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.nav-list-item {
  background: #808080;
}

.nav-list-item + .nav-list-item {
  margin-top: 0.5em;
}

.nav-list-link {
  display: block;
  color: white;
  line-height: 2em;
  padding: 0 0.5em;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.section {
  font-size: 1.25em;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .section {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .section {
    width: 60%;
  }
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 599px) {
  .big-image {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .small-image {
    display: none;
  }
}

@media (min-width: 1200px) {
  .small-image {
    display: none;
  }
}

.units-list {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .news {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .news {
    width: 20%;
  }
}
