$font-famile-main: Verdana, Geneva, Tahoma, sans-serif;
$font-size-main: 16px;

$padding: 8px;

$color-green1: #006400;
$color-green2: #9acd32;
$color-yellow1: #ffff00;
$color-orange1: #ff7f50;

$text-color-primary: #ffffff;
$text-color-second: #000000;