
body {
  font-family: monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  display: inline-block;
}

.spinner-text {
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  animation: blinking 2s linear infinite;
}

.rect {
  position: relative;
  width: 10px;
  border-top: 4px solid black;
  border-radius: 2px;
  animation: moving 2s linear infinite alternate, blinking 2s linear infinite alternate;
}
