li {
    margin-bottom: 16px;
}

ol {
    background: green;
    color: white;
}

ul {
    background: orange;
    color: white;
}

#special + li {
    border: 3px solid red;
}

#special ~ li {
    margin-left: 16px;
}