body {
    font-family: Roboto, sans-serif;
}

section {
    margin: 32px;
}

h1 {
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 20px;
}

p {
    line-height: 28px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

em {
    color: grey;
}

strong {
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 0.8;
    text-decoration: underline;
    font-weight: 900;
}