header {
    height: 50px;
    background: yellow;
}

.footer {
    height: 50px;
    background: green;
    clear: both;
}

main {
    width: 80%;
    height: 500px;
    background: pink;
    float: left;
}

.sidebar {
    width: 20%;
    height: 500px;
    background: gray;
    float: left;
}