.square {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background: coral;
  animation: move 2s infinite; 
  animation-direction: alternate;
}

@keyframes move {
  0% {
    top: 0;
    left: 0;
    background: coral;
  }
  25% {
    top: 0;
    left: 300px;
    background: cornflowerblue;
  }
  50% {
    top: 300px;
    left: 300px;
    background: aqua;
  }
  75% {
    top: 300px;
    left: 0;
    background: yellowgreen;
  }
}
