body {
  position: relative;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
  background: tomato;
  transform: translate(200px, 100px) rotate(45deg) scale(1.5);
}

p {
  margin: 100px 32px;
  padding: 5px 8px;
  border-radius: 5px;
  display: inline-block;
  background: #faebd7;
  line-height: 1.5;
}
