.square {
  width: 100px;
  height: 100px;
  background: tomato;
  transform: translate(200px, 100px) rotate(45deg) scale(1.5);
}

p {
  margin: 60px;
  display: inline-block;
  background: #faebd7;
}
