@import 'styles/varibales.scss';
@import 'styles/breakpoints.scss';

*{
    box-sizing: border-box
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    @media (orientation: landscape) {
        display: flex;
    }
}

.square {
    width: 100px;
    height: 100px;
    margin: 16px 8px;
    background: #ff7f50;

    @include for-tablet {
        background: $color-medium;
    }

    @include for-tablet {
        background: $color-medium
    }

    @include for-tablet-landscape {
        background: $color-big;
    }

    @include for-desctop {
        background: $color-large;
    }
}

@import 'styles/breakpoints.scss';