h1 + p::first-line {
    font-size: 24px;
}

h1 + p::first-letter {
    font-size: 36px;
    margin-left: 16px;
    background: orange;
}

h1 + p::selection {
    background: red;
    color: white;
}

a::before {
    content: '>';
    color: green
}

a::after {
    content: '<';
    color: green
}