.text {
  display: inline-block;
  margin: 16px;
  border-bottom: 1px dotted transparent;
  position: relative;
  color: transparent;
}

.tooltip {
  display: block;
  position: absolute;
  bottom: -40px;
  background: grey;
  color: white;
  padding: 8px;
  border-radius: 4px;
}

.text:has(.tooltip:hover) {
  color: black;
  border-color: black;
}
