* {
  box-sizing: border-box;
}

.container {
  margin: 32px;
}

.rect {
  display: flex;
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
  background: coral;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
  transition: width 2s linear, opacity 0.5s linear;
}

.rect:hover {
  width: 100%;
  opacity: 1;
}
